/* Header */
#header {
  position: relative;
  height: 100%;
  // padding: 13vh 20px 0;
  background: $jsdc2019-background;
  .container {
    .title {
      height: 400px;
      margin-top: 10%;

      .animation {
        position: absolute;
        left: -0.8%;
        height: 100%;
        width: 100%;
        background: url('../images/official/jsdcmain-line.svg') no-repeat;
        animation: logo2 2s linear;
      }
      .animation2 {
        height: 100%;
        background: url('../images/official/jsdcmain.svg') no-repeat;
        position: absolute;
        left: 0%;
        width: 100%;
        opacity: 0;

        background: url('../images/official/jsdcmain.svg') no-repeat;
        animation: logo 2s linear;
      }
      .logo {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        &:hover {
          opacity: 1;
        }
        span {
          display: block;
          font-size: 20px;
          line-height: 20px;
          color: #bebebc;
          position: absolute;
          bottom: 20%;
        }
      }
      .jsdc-full-name {
        color: black;
        width: 100%;
        text-align: center;
        button {
          border: 1px solid white;
          color: white;
          width: 50%;
          &:hover {
            background: white;
            color: #222;
            border: none;
          }
        }
        span {
          font-size: 12px;
          color: white;
          display: block;
        }
      }
    }
  }
}
@keyframes logo {
  0% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
}
@keyframes logo2 {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#count-down {
  text-align: center;
  font-size: 3rem;
  margin-top: 80px;

  .content {
    text-transform: uppercase;
  }
  .time-content {
    margin-top: -50px;

    .date,
    .hours,
    .minutes,
    .seconds {
      width: 150px;
      height: 150px;
      line-height: 150px;
      display: inline-block;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
      .num {
        width: 50%;
        float: left;
      }
    }
    .flag {
      position: relative;
      left: -30px;
      top: -7px;
    }
  }
  .conference-and-count-down-info {
    font-size: 1.5rem;
    margin-top: 30px;
  }
}
