/* Header */
#header {
  position: relative;
  height: 100%;
  padding: 13vh 20px 0;
  background: $jsdc2019-background;
  .container {
    .title {
      height: 300px;
      // margin-top: 30px;
      .animation {
        position: absolute;
        top: 29.6%;
        left: -0.8%;
        height: 100%;
        width: 100%;
        background: url('../images/official/jsdcmain-line.svg') no-repeat;
        background-image: url('../images/official/jsdcmain-line.svg');
        animation: logo2 3s linear;
      }
      .animation2 {
        // position: absolute;
        // top: 6.58%;
        // left: -24.4%;
        // height: 100%;
        // width: 100%;
        // background: url('../images/official/jsdclogo2019.svg') no-repeat;
        // transform: scale(0.5);

        // background-image: url('../images/official/jsdcmain-line.svg');
      }
      .logo {
        height: 100%;
        // background-image: url('../images/official/jsdcmain.svg');
        // margin-top: 70px;
        background: url('../images/official/jsdcmain.svg') no-repeat;
        position: absolute;
        top: 30%;
        left: 0%;
        width: 100%;
        // transform: scale(0.5);
        opacity: 0;
        animation: logo 3s linear;

        // & > img {
        //   width: 100%;
        //   // margin-right: 60px;
        //   // top: 65px;
        //   // position: relative;
        // }
      }
      .jsdc-full-name {
        display: flex;
        justify-content: center;
        color: black;
        top: 110px;
        width: 100%;
        text-align: center;
        button {
          border: 1px solid white;
          color: white;
          &:hover {
            background: white;
            color: #222;
            border: none;
          }
        }
        span {
          display: block;
          font-size: 20px;
          line-height: 20px;
          color: white;
        }
      }
    }
  }
}
@keyframes logo {
  0% {
    left: 100%;
  }
  50% {
  }
  89% {
    left: 0%;

    opacity: 1;
  }
  90% {
    // opacity: 0;
  }
  100% {
  }
}
@keyframes logo2 {
  0% {
    opacity: 0;

  }
  50% {
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#count-down {
  text-align: center;
  font-size: 3rem;
  margin-top: 80px;

  .content {
    text-transform: uppercase;
  }
  .time-content {
    margin-top: -50px;

    .date,
    .hours,
    .minutes,
    .seconds {
      width: 150px;
      height: 150px;
      line-height: 150px;
      display: inline-block;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
      .num {
        width: 50%;
        float: left;
      }
    }
    .flag {
      position: relative;
      left: -30px;
      top: -7px;
    }
  }
  .conference-and-count-down-info {
    font-size: 1.5rem;
    margin-top: 30px;
  }
}
