-
  //- name: 講者名字, description: 作者介紹, image: 照片
  // ## option ##
  //- company: 公司/組織
  //- 額外連結們: github, twitter, link, linkedin

  var speakers = {
    Fred: {
      name: 'Fred',
      isKeynote: false,
      company: '',
      description: '',
      image: '',
      agenda: {
        title: '',
        levels: [],
        lang: 'CH',
        type: '',
        youtube: '',
        slide: '',
        outline_E: '',
        outline: ''
      },
      links: {
      }
    },
    Kuro: {
      name: 'Kuro',
      isKeynote: false,
      company: 'Vue.js Taiwan',
      description: 'Vue.js Taiwan 雜工',
      image: 'kurohsu.jpg',
      agenda: {
        title: 'Vue',
        levels: [],
        lang: 'CH',
        type: '',
        youtube: '',
        slide: '',
        outline_E: '',
        outline: ''
      },
      links: {
        github: 'https://github.com/kurotanshi/',
        facebook:'https://www.facebook.com/kurotanshi/ '
      }
    },
    Paul: {
      name: 'Paul li',
      isKeynote: false,
      company: '',
      description: '',
      image: '',
      agenda: {
        title: '',
        levels: [],
        lang: 'CH',
        type: '',
        youtube: '',
        slide: '',
        outline_E: '',
        outline: ''
      },
      links: {
      }
    },
    SamLee: {
      name: 'Sam Lee(山姆大叔)',
      isKeynote: false,
      company: '',
      description: '',
      image: '',
      agenda: {
        title: '',
        levels: [],
        lang: 'CH',
        type: '',
        youtube: '',
        slide: '',
        outline_E: '',
        outline: ''
      },
      links: {
      }
    },
    W: {
      name: '黃保翕 Will',
      isKeynote: true,
      company: '多奇數位創意有限公司',
      description: '現任多奇數位創意有限公司技術總監。2019 榮獲 Microsoft Regional Director (RD)、2018 年榮獲 Angular/Web GDE (Google Developer Expert) 開發專家。連續 12 度當選微軟最有價值專家 (Developer Technologies)。熟悉 Web 開發技術、網站效能調校、.NET/C# 開發技術、SQL Server 資料庫開發、Docker 與 Kubernetes。',

      //- description: '現任多奇數位創意有限公司技術總監。2019 榮獲 Microsoft Regional Director (RD)、2018 年榮獲 Angular/Web GDE (Google Developer Expert) 開發專家。連續 12 度當選微軟最有價值專家 (Developer Technologies)。熟悉 Web 開發技術、網站效能調校、.NET/C# 開發技術、SQL Server 資料庫開發、Docker 與 Kubernetes。曾擔任 Visual Studio 2010 上市發表會講師、MSDN 講座講師、TechDays Taiwan 2010~2015 講師、TechEd China 2011, 2013 講師，出版著作有 ASP.NET MVC 2 開發實戰、Windows Phone 開發實戰、ASP.NET MVC 4 開發實戰等書籍。2013 年曾獲選第 6 屆iT邦幫忙鐵人賽年度大獎與開發技術組年度鐵人。',
      image: 'will.png',
      agenda: {
        title: '',
        levels: [],
        lang: 'CH',
        type: '',
        youtube: '',
        slide: '',
        outline: '',
        outline_E: ''
      },
      links: {
        github: 'https://github.com/doggy8088/',
        facebook: 'https://www.facebook.com/will.fans'
      }
    },
  };

  var agendaLevel = {
    none: '不拘',
    beginner: '初階',
    intermediate: '中階',
    advanced: '高階'
  };
  var languages = {
    CH: '中',
    EN: '英'
  };

  var agenda = {
    '09/28 (四)': [
      {time: '09:00 - 10:00', list: {
        all: {name: '入場', speaker: ''},
      }},
      {time: '10:00 - 10:50', list: {
        101: {name: '', speaker: 'SamLee'},
      }},
      {time: '11:00 - 11:50', list: {
        101: {name: '', speaker: 'Kuro'},
      }},
      {time: '12:00 - 12:50', list: {
        101: {name: '休息', speaker: 'W'},
      }},
      {time: '12:50 - 13:30', list: {
        all: {name: '午餐時間（自行處理）', speaker: ''},
      }},
      {time: '13:30 - 14:20', list: {
        all: {name: '三大框架座談 Sam Lee、Kuro、保哥', speaker: ''},
      }},
      {time: '14:30 - 15:20', list: {
        101: {name: '', speaker: 'Fred'},
      }},
      {time: '15:30 - 16:20', list: {
        all: {name: '', speaker: ''},
      }},
      {time: '16:30 - 17:20', list: {
        101: {name: '', speaker: 'Paul'},
      }},
      {time: '17:20 - 17:30', list: {
        all: {name: '散場', speaker: ''},
      }},
    ],
     '10/26 (六)': [
      {time: '09:00 - 18:00', list: {
        all: {name: 'ComingSoon', speaker: ''},
      }}

    ],
  };

  var sponsors = {
    'titanium': [
      {company: '英諾瓦資訊科技服務有限公司', en_company: 'Innova Solutions', logo: './images/sponsors/carousell.svg', description: '鈦坦科技Titansoft，是一間總部位於新加坡的軟體開發公司，專注於遊戲和娛樂產業。\n扁平組織重視透明度和開放性，使鈦坦科技的團隊能夠通過持續改善來交付高品質的商業價值。', link: "https://www.innovasolutions.com/"}

    ],
    'platinum': [
      {company: '英諾瓦資訊科技服務有限公司', en_company: 'Innova Solutions', logo: './images/sponsors/carousell.svg', description: '鈦坦科技Titansoft，是一間總部位於新加坡的軟體開發公司，專注於遊戲和娛樂產業。\n扁平組織重視透明度和開放性，使鈦坦科技的團隊能夠通過持續改善來交付高品質的商業價值。', link: "https://www.innovasolutions.com/"}
    ],
    'gold': [
      {company: 'coming soon', en_company: '', logo: '', description: '鈦坦科技Titansoft，是一間總部位於新加坡的軟體開發公司，專注於遊戲和娛樂產業。\n扁平組織重視透明度和開放性，使鈦坦科技的團隊能夠通過持續改善來交付高品質的商業價值。', link: "https://www.innovasolutions.com/"},
      //- {company: '鈦坦科技股份有限公司', en_company: 'Titansoft', logo: './images/sponsors/carousell.svg', description: '鈦坦科技Titansoft，是一間總部位於新加坡的軟體開發公司，專注於遊戲和娛樂產業。\n因人才培養與制度創新的高度投入與創新管理，在2017年被新加坡電腦公會評選為《最值得效力科技公司》', link: "https://www.titansoft.com/tw"},
      //- {company: '狄卡科技股份有限公司', en_company: 'Dcard', logo: './images/sponsors/carousell.svg', description: 'Dcard 團隊致力於打造一個讓每個人都能在這裡找到共鳴的平台，我們提供的社群服務，目前擁有每個月超越八百萬的不重複訪客與雙位數的月成長曲線，在學生族群有極高的滲透率以及黏著時間。', link: "https://www.dcard.tw"},
      //- {company: '威訊媒體（原 Yahoo!奇摩)', en_company: 'Oath', logo: './images/sponsors/carousell.svg', description: 'Oath 是 Verizon 威訊通訊旗下的子公司，我們透過價值主導、致力於建立讓人們喜愛的品牌。\n我們在全球擁有超過10億用戶，提供包括 Yahoo 等超過50個媒體內容、科技與廣告產品品牌。', link: "https://tw.yahoo.com/"},
    ],
    'silver': [
      {company: 'KlickKlack', logo: './images/sponsors/KlickKlack_2018.png', description: 'KlickKlack Communications 提供專業的有線與無線網路服務，使人與人間的通訊落差降到最低。團隊已服務上百場活動，包含台灣地區最大的線上遊戲、網路直播、資訊社群、產品發表會、演唱會、會場展覽與電音派對等。整合網路監控、系統交叉備援、即時廣告互動，量身為客戶打造優質的網路服務體驗。', link: "https://www.kkco.com.tw"},
    ],
    'special': [
      {company: 'Carousell', logo: './images/sponsors/carousell.png', description: 'Carousell 旋轉拍賣為社群拍賣平台，2012 年在新加坡上線後，已拓展至台灣、香港、印尼、馬來西亞、菲律賓、澳洲等國家。現有超過 6,500 萬件刊登商品，為全球成長最快及最大的行動拍賣平台之一，在新加坡、台灣與香港均於手機購物應用程式排名中名列前茅。', style: "height:189px;line-height:189px;", link: "https://tw.carousell.com/"},
      {company: 'Pinkoi', logo: './images/sponsors/pinkoi.png', description: 'Pinkoi 是亞洲領先的設計商品購物網站，擁有眾多海內外優質設計師群，堅持用好品味、客製化的獨特設計，實現每個人的美感生活，也讓每個送禮時刻更加獨一無二。\n\n2011 年 8 月成立至今，致力於經營台灣、日本、泰國、中港澳、美加及其他國際市場，期望讓亞洲迷人的好設計在全世界散發光芒，並創造一個讓生活更美好的設計生態圈。', style: "height:189px;line-height:189px;", link: "https://www.pinkoi.com/"},
    ]
  };
  var tranformName = {
    'titanium': {name: '鑽石級', col: 12},
    'platinum': {name: '鉑金級', col: 12},
    'gold': {name: '金級', col: 6},
    'silver': {name: '銀級', col: 4},
    'special': {name: '特別感謝', col: 2},
  };

  var teams = {
    '議程組': [
      {name:'維元', img: 'weiyuan'},
      {name:'TZ', img: 'zet'},
      {name:'Caesar', img: 'logo'},
      {name:'Simon', img: 'simon'}
    ],
    '贊助組': [
      {name:'Amy', img: 'amy'},
      {name:'Kevin', img: 'logo'},
      {name:'Deleav', img: 'logo'}
    ],
    '設計組': [
      {name:'Nozomi', img: 'nozomi'},
      {name:'Ashu', img: 'ashu'},
      {name:'Maureen', img: 'maureen'},
      {name:'ALi', img: 'ali'}
    ],
    '票務組': [
      {name:'Amber', img: 'amber'}
    ],
    '場務組': [
      {name:'Horken', img: 'horken'},
      {name:'小馬', img: 'ma'}
    ]
  };

  var rooms = {
    'day1':['MSpace'],
    'day2':[],
  };

